@model Labolatorium_1.Models.Reservation

<form asp-action="Create" asp-controller="Reservation" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <label asp-for="Date"></label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="City"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Room"></label>
        <input asp-for="Room" class="form-control" />
        <span asp-validation-for="Room" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Owner"></label>
        <input asp-for="Owner" class="form-control" />
        <span asp-validation-for="Owner" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <button type="submit">Zapisz</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}