@model Labolatorium_1.Models.Reservation

<h3>Czy na pewno chcesz usunąć rezerwację?</h3>

<p>@Model.City, @Model.Address</p>

<form asp-action="DeleteConfirmed" method="post">
    <input asp-for="Id" type="hidden" />
    <button type="submit">Usuń</button>
    <a asp-action="Index">Anuluj</a>
</form>